body {
    background: $colorBlack;
    color: #FFF;
    font-size: 1.6rem;

    * {
        box-sizing: border-box;
    }
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 3rem;
    align-items: center;
    padding: 0 4rem;
    width: 100%;
    height: 10.8rem;
    backdrop-filter: blur(2px);
    z-index: 100;

    h1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 4rem;
        font-weight: 800;

        svg {
            width: 4.2rem;
            height: 4.2rem;
            margin-right: $spaceRegular;
        }

    }

    nav {
        display: flex;
        justify-content: flex-end;

        .menu {
            font-size: 3rem;
            margin-left: $spaceSmall;
            font-weight: 600;

            &.on {
                color: $colorViolet;
            }
        }
    }
}

.hide {
    text-indent: -9999px;
    line-height: 0;
    visibility: hidden;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

section {
    width: 1100px;
    @include margin-auto(4rem, 4rem);
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: $spaceMedium;

    i {
        display: block;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

h3 {
    text-transform: uppercase;
    font-size: 5.2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;

    &:has(span) {
        span {
            font-size: 2.4rem;
            font-weight: 400;
            margin-left: 1rem;
        }
    }
}

.sub-title {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.text {
    font-size: 2.4rem;
    font-weight: 400;
}

.badge-list {
    display: flex;
    flex-flow: row wrap;
    grid-gap: $spaceMin;

    &:has(ul) {
        display: block;
        margin: $spaceSmall 0;

        p {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 800;
            margin-bottom: $spaceRegular;
        }

        ul {
            display: flex;
            flex-flow: row wrap;
            grid-gap: $spaceMin;
        }
    }

    &+.badge-list {
        margin-top: $spaceMin;
    }

    li {
        font-size: 1.5rem;
        line-height: 1.6;
        padding: 0 $spaceRegular;
        border: 1px solid #FFF;
        border-radius: 100px;
    }
}

#visual {
    position: relative;
    height: calc(100vh - 10rem);
    @include margin-auto();

    .image-box {
        grid-column: 1/13;
        width: 100%;
        height: calc(100% - 14rem);
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: -1;
    }

    h2 {
        font-size: 16rem;
        font-weight: 900;
        line-height: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        strong {
            display: block;
            text-transform: uppercase;
            line-height: 1.1;
            margin-top: 3rem;
            color: $colorYellow;
        }
    }

    .photo {
        display: block;
        width: 660px;
        height: 600px;
        @include margin-auto();
        background: gray;
    }

    .svg-box {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;

        .sparkle {
            svg {
                fill: #FFF;
            }

            &.left {
                width: 14rem;
                height: 14rem;
                position: relative;
                left: -7rem;
                top: -1rem;
            }

            &.right {
                width: 8rem;
                height: 8rem;
                position: absolute;
                right: -3rem;
                top: 0;
            }
        }

        .star {
            width: 32rem;
            height: 32rem;
            position: absolute;
            right: -2rem;
            bottom: 0;

            svg {
                fill: $colorViolet;
            }
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10rem;
    background: $colorYellow;
    color: $colorBlack;
    @include margin-auto(-10rem, 0);
    z-index: 10;

    .inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 2.4rem;
        align-items: center;
        justify-content: space-between;
        width: 1100px;
        @include margin-auto();

        h2 {
            font-size: 2.8rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: -.4px;
            text-indent: $spaceMedium;
            grid-column: 1/4;
            position: relative;

            &::after {
                display: block;
                content: '';
                width: 2px;
                height: 2.8rem;
                background: $colorBlack;
                position: absolute;
                top: 50%;
                right: -2px;
                transform: translateY(-50%);
            }
        }

        .loop-box {
            grid-column: 4/13;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.8rem;
            font-weight: 500;
            grid-column-gap: 5.6rem;
        }
    }
}

#info {
    h2 {
        grid-column: 1/13;
    }

    article {
        height: fit-content;
        margin-bottom: calc($spaceMax * 3);

        &:nth-child(even) {
            grid-column: 1/7;
            width: calc(100% - 3.2rem);
        }

        &:nth-child(odd) {
            grid-column: 7/13;
            width: calc(100% - 3.2rem);
            @include margin-auto(0, calc($spaceMax * 3));
            margin-right: 0;
        }

        &.basic {
            .text {
                font-size: 2.4rem;
            }

            .my-img {
                width: 100%;
                height: 36rem;
                background: $colorYellow;
                margin-bottom: $spaceMedium;
            }
        }

        &.work {
            ol {
                height: 100%;
                position: relative;
                margin-left: .6rem;

                &::before {
                    display: block;
                    content: '';
                    width: 2px;
                    height: calc(100% - .8rem);
                    background: #FFF;
                    position: absolute;
                    top: 1.6rem;
                    left: 0;
                }
            }

            li {
                padding-left: $spaceMedium;
                padding-bottom: calc($spaceMedium * 2);

                .sub-title {
                    position: relative;
                }

                .dot {
                    width: 1.4rem;
                    height: 1.4rem;
                    background: #FFF;
                    border-radius: 50%;
                    position: absolute;
                    left: calc(($spaceMedium + .6rem) * -1);
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:first-child {
                    .sub-title {
                        color: $colorBlue;
                        font-weight: 800;
                    }

                    .dot {
                        background: $colorBlue;
                    }
                }
            }

            .text {
                display: -webkit-box;
            }
        }

        &.edu {
            li {
                display: grid;
                grid-template-columns: repeat(1, 1fr 2fr);
                grid-row-gap: .5rem;

                &+li {
                    margin-top: $spaceMedium;
                }
            }

            .sub-title {
                grid-column: 1/3;
                display: grid;
                grid-template-columns: repeat(1, 1fr 2fr);
                margin-bottom: 0;

                strong {
                    grid-column: 2/3;
                }
            }

            .text {
                grid-column: 2/3;
            }
        }

        &.skills {
            .box {
                &+.box {
                    margin-top: $spaceMedium;
                }
            }

            .sub-title {
                margin-bottom: $spaceRegular;
            }
        }
    }
}

#project {
    display: flex;
    flex-direction: column;
    margin-bottom: 11rem;

    h2 {
        font-size: 14rem;
        font-weight: 1000;
        text-transform: uppercase;
        color: $colorYellow;
        margin-bottom: 4rem;
        line-height: 1.1;
    }

    .list {
        border-bottom: 1px solid #FFF;
    }

    article {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: $spaceMedium;
        border-top: 1px solid #FFF;

        .title {
            grid-column: 1/13;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 8rem);
            @include margin-auto();
            position: relative;

            button {
                width: 100%;
                padding: 2.8rem 0;
                text-align: left;

                &:hover {
                    cursor: pointer;
                }
            }

            h3 {
                line-height: 1.2;
                color: #FFF;
                margin-bottom: 0;
                transition: color .4s ease;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 6.2rem;
                height: 6.2rem;
                border-radius: 50%;
                position: absolute;
                right: 0;
                opacity: 1;
                z-index: -1;
                overflow: hidden;
                transform: rotate(90deg);
                transition: transform .3s ease .3s;

                &::after {
                    display: block;
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: $colorYellow;
                    border-radius: 50%;
                    z-index: -1;
                    transition: width .4s ease .2s, height .4s ease .2s;
                }
            }

            .arrow {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 3.8rem;
                height: 3.2rem;
                overflow: hidden;
                position: relative;

                .arrow-head {
                    width: auto;
                    opacity: 0;
                    stroke: #FFF;
                    stroke-width: 2px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-250%) translateY(-50%);
                    transition: transform .3s ease, opacity .3s ease, left .3s ease, stroke .3s ease .3s;
                }

                .arrow-line {
                    width: 0;
                    stroke-width: 2px;
                    stroke: $colorBlack;
                    transition: width .3s ease;
                }
            }

            &:hover {
                .arrow {
                    .arrow-head {
                        opacity: 1;
                        transform: translateX(-50%) translateY(-50%);
                    }
                }
            }
        }

        .inner {
            grid-column: 1/13;
            display: grid;
            grid-template-areas:
                'text img'
                'skills img'
            ;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: $spaceMedium;
            width: calc(100% - 8rem);
            @include margin-auto();
            height: 0rem;
            padding: 0;
            overflow: hidden;
            transition: all 0.6s ease .3s;

            .text {
                grid-area: text;
            }

            .badge-list {
                grid-area: skills;
            }

            .project-img {
                grid-area: img;
                height: 100%;
                margin-left: 2.4rem;
                width: calc(100% - 2.4rem);
                background: $colorYellow;
            }
        }

        &.active {
            .title {
                h3 {
                    color: $colorYellow;
                    transition: color .4s ease;
                }

                a {
                    z-index: 1;
                    cursor: pointer;
                    transform: rotate(0deg);
                    transition: transform .3s ease;


                    &::after {
                        width: 100%;
                        height: 100%;
                    }
                }

                .arrow {
                    opacity: 1;

                    .arrow-head {
                        margin-top: 0;
                        left: auto;
                        right: 0;
                        transform: translateY(-50%) translateX(0);
                        opacity: 1;
                        stroke: $colorBlack;
                        transition: right .3s ease .3s, transform .3s ease .3s, fill .3s ease .3s;
                    }

                    .arrow-line {
                        width: 100%;
                        transition: width .3s ease .3s;
                    }
                }
            }

            .inner {
                height: 40rem;
                padding: 1rem 0 6rem;
            }
        }
    }
}

.footer {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 500;
    color: $colorBlack;
    text-align: center;
    width: 100%;
    background: $colorYellow;
    padding: $spaceSmall 0;
}