@import "./mixin";
@import './var';

// 최소 데스크탑 
@include desktop {

    // 1024px ~ 1443px
    main {
        section {
            width: 1100px;
        }
    }

    .contact {
        .inner {
            width: 1100px;
        }
    }

}

//노트북 
@include laptop {

    // 960px ~ 1023px
    header {
        padding: 0 5rem;
    }

    main {
        section {
            width: calc(100vw - 10rem);

            &#visual {
                h2 {
                    margin-left: 3.2rem;
                    font-size: 12.6rem;
                }

                .image-box {
                    .photo {
                        width: 56rem;
                        height: 50rem;
                    }

                    .sparkle {
                        &.left {
                            width: 12rem;
                            height: 12rem;
                            left: -2rem;
                        }

                        &.right {
                            width: 7.4rem;
                            height: 7.4rem;
                        }
                    }
                }
            }
        }
    }
}

.contact {
    .inner {
        width: 90%;
    }
}

// 태블릿 
@include tablet {

    // 720px ~ 959px
    header,
    main,
    .detail-wrap {
        padding: 0 4rem;
    }
}

// 모바일에서 태블릿 
@include tabletToMobile {

    // 700px ~ 719px
    header,
    main,
    .detail-wrap {
        padding: 0 4rem;
    }

    .header {
        height: 10rem;

        h1 {
            svg {
                width: 6rem;
                height: 6rem;
            }
        }

        nav {
            .menu {
                font-size: 3rem;
            }
        }
    }

}

// 모바일 
@include maxMobile {
    // 400px ~ 699px

    header,
    main,
    .detail-wrap {
        margin: 0 auto;
        padding: 0 2rem;
    }
}

@include mobile {
    // 0px ~ 399px

    header,
    main,
    .detail-wrap {
        margin: 0 auto;
        padding: 0 2rem;
    }
}