@import "./mixin";
@import './var';

// 최소 데스크탑 
@include desktop {

    // 1025px ~ 1443px

}

//노트북 
@include laptop {

    // 960px ~ 1023px
    header,
    main {
        padding: 0 5rem;
    }
}


// 태블릿 
@include tablet {

    // 720px ~ 959px
    header,
    main {
        padding: 0 4rem;
    }
}

// 모바일에서 태블릿 
@include tabletToMobile {

    // 700px ~ 719px
    header,
    main {
        padding: 0 4rem;
    }

    .header {
        height: 10rem;

        h1 {
            svg {
                width: 6rem;
                height: 6rem;
            }
        }

        nav {
            .menu {
                font-size: 3rem;
            }
        }
    }

}

// 모바일 
@include maxMobile {
    // 400px ~ 699px

    header,
    main {
        margin: 0 auto;
        padding: 0 2rem;
    }
}

@include mobile {
    // 0px ~ 399px

    header,
    main {
        margin: 0 auto;
        padding: 0 2rem;
    }
}