// color setting
$colorBlack : #0A0A14;
$colorBlue : #00FFFF;
$colorMagenta: #FF00FF;
$colorViolet: #8000FF;
$colorYellow: #EEFF00;

//space size
$spaceMin: .8rem;
$spaceSmall: 1.2rem;
$spaceRegular: 1.6rem;
$spaceMedium: 2.4rem;
$spaceLarge: 3.2rem;
$spaceMax: 4rem;

// 반응형 break-point
$breakpoint-maxMobile: 700px; // 큰모바일
$breakpoint-mobile: 400px; // 모바일
$breakpoint-tabletToMobile: 535px; // 모바일에서 태블릿
$breakpoint-tablet: 720px; // 태블릿
$breakpoint-laptopToTablet: 960px; // 태블릿에서 노트북
$breakpoint-laptop: 1024px; // 노트북
$breakpoint-desktop: 1440px; // 노트북에서 데스크탑