div {
  font-size: 3rem;
}

@media (min-width: 1440px) and (max-width: 1439px) {
  div {
    background: #00FFFF;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  div {
    background: #FF00FF;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  div {
    background: #8000FF;
  }
}
@media (min-width: 720px) and (max-width: 959px) {
  div {
    background: #EEFF00;
  }
}
@media (min-width: 535px) and (max-width: 719px) {
  div {
    background: #00FFFF;
  }
}
@media (min-width: 335px) and (max-width: 534px) {
  div {
    background: #FF00FF;
  }
}