body {
  background: #0A0A14;
  color: #fff;
}
body * {
  box-sizing: border-box;
}

header,
main {
  margin: 0 auto;
  padding: 0 4rem;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 3rem;
  align-items: center;
  width: 100vw;
  height: 7.8rem;
  backdrop-filter: blur(2px);
  z-index: 100;
}
.header h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 4rem;
  font-weight: 800;
}
.header h1 svg {
  width: 4.2rem;
  height: 4.2rem;
  margin-right: 1.6rem;
}
.header nav {
  display: flex;
  justify-content: flex-end;
}
.header nav .menu {
  font-size: 2.4rem;
  margin-left: 1.2rem;
  font-weight: 600;
}
.header nav .menu.on {
  color: #8000FF;
}

main {
  margin-bottom: 8rem;
}

.footer {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 500;
  color: #0A0A14;
  text-align: center;
  width: 100%;
  background: #EEFF00;
  padding: 1.2rem 0;
}

@media (max-width: 1023px) {
  header,
  main {
    padding: 0 5rem;
  }
}
@media (max-width: 959px) {
  header,
  main {
    padding: 0 4rem;
  }
}
@media (max-width: 719px) {
  header,
  main {
    padding: 0 4rem;
  }
  .header {
    height: 10rem;
  }
  .header h1 svg {
    width: 6rem;
    height: 6rem;
  }
  .header nav .menu {
    font-size: 3rem;
  }
}
@media (max-width: 699px) {
  header,
  main {
    margin: 0 auto;
    padding: 0 2rem;
  }
}
@media (max-width: 399px) {
  header,
  main {
    margin: 0 auto;
    padding: 0 2rem;
  }
}